@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ceebf5;
    position: relative;
}

#maincover{
    position: relative;
    z-index: 10;
}


.navbar{
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(225, 253, 236);
    margin-bottom: 4vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    font-family: "Sulphur Point", sans-serif;

}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: rgb(34, 134, 36);
}
.left img{
    height: 90px;
    width: 90px;
    margin-left: 11vw;
}

.right ul {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 3vw;
    font-weight: 500;
    margin-right: 13vw;
}

.right ul li{
    list-style: none;
   
}

.right ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color:rgb(34, 134, 36);
}
.forecast-section{
    min-height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(images/bg.png);
    object-fit: contain;
    background-position:  right 5% bottom 10%;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
    font-family: "Sulphur Point", sans-serif;
    text-transform: capitalize;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.search-icon{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 49, 44, 0.358);
    backdrop-filter: 10px;
    border: 2px solid rgba(248, 238, 238, 0.909);
    color: #fff;
    
}

.search-bar{
    height: 6vh;
    width: 40vw;
    background-color: rgba(28, 97, 177, 0.247);
    backdrop-filter: 10px;
    border: 2px solid rgba(248, 238, 238, 0.909);
    border-radius: 5px;
    padding: 0 20px;
}

.cards-section{
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2vw;
    justify-content: center;
    padding: 0px 2rem;
}
.cards{
    height: 45vh ;
    width: 25% ;
    padding: 20px 10px ;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
    border-radius: 8px ;
    color: rgb(23, 20, 20);
    background-color: rgba(81, 156, 49, 0.267);
    backdrop-filter: 10px;
    border: 2px solid rgb(250, 247, 247);
    transition: transform 0.5s;
}
i{
    color: rgb(17, 113, 178);
    
}
.city-info{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.cards-section h2{
    margin-bottom: 3px;
}
.weather-info, .param{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.temperature-info{
    font-size: 1.6rem;
    height: 106px;
    width: 100%;
    border-radius: 5px;
    background-color: #0e0e0e1f;
    backdrop-filter: 10px;
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.additional-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}
.weath-info{
    height: 145px;
    width: 110px;
    border-radius: 5px;
    background-color: #0e0e0e1f;
    backdrop-filter: 10px;
    display: flex;
    padding: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forecards-section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4px; 
}
.forecards{
    height: 53px;
    width: 329px;
    border-radius: 5px;
    background-color: #0e0e0e1f;
    backdrop-filter: 10px;
}
.aqi{
    font-size: 1.6rem;
    height: 106px;
    width: 329px;
    border-radius: 5px;
    background-color: #0e0e0e1f;
    backdrop-filter: 10px;
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
.aqi-paramsection{
    height:224px;
    width:329px ;
    border-radius: 5px;
    background-color: #0e0e0e1f;
    backdrop-filter: 10px;
    display: flex;
    margin-bottom: -9px;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.aqi-params{
    width:329px ;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.page3{
    height: 60vh;
    width: 100%;
    background: #CAEEFC;
    padding: 4vw 0;
    margin-bottom: 40vh;
}

.elem {
    height: 150px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;   
}

.elem h2 {
    font-size: 2.3vw;
    position: relative;
    padding-left: 3vw;
    z-index: 9;
    color: #2c7848;
    font-family: 'Poppins', sans-serif;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: #abe4c0;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}

.elem:hover .overlay {
    top: 0;
}

#fixed-image {
    height: 20vw;
    width: 14vw;
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 70%;
    top: 50%;
    display: none;
    background-size: cover;
    background-position: center;
}

.swiper {
    width: 100%;
    height: 95vh;
    padding-top: 0;
    position: relative;
    margin-bottom: 20vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #CAEEFC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 75vh;
    object-fit: cover;
  }
  .swiper-slide h1{
    color: #1e974a;

    font-size: 2.6rem;
  }
  .swiper-slide span{
    color: #06064d;
    font-size: 2.6rem;
  }

.footer{
    height: 150px;
    width: 100%;
    padding: 40px 40px;
    background-color: #abe4c0;
    position: absolute;
    margin:0vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20vw;
    
}
.foot-logo img{
    height: 120px;
    width: 120px;
}
.foot-list ul li {
    list-style: none;
}
.foot-list ul li a{
    font-size: 1.2rem;
    color: rgb(2, 26, 26);
}
.foot-list ul li a:hover{
    color: rgb(14, 174, 202);

}


.forecards{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sunrise{
    display: flex;
    justify-content: space-around;
}

